soap/src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ab8c143c-645b-45ef-8a45-925ae55090ae" >
		<http:listener-connection host="0.0.0.0" port="9012" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="ba093b3d-4d65-44b5-878b-e256bff56730" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapFlow" doc:id="4ffef58f-ecc7-4fb0-acc8-5f89731d11ed" >
		<http:listener doc:name="Listener" doc:id="0fa1503a-360b-4b40-a1fd-b5c357ca4144" config-ref="HTTP_Listener_config" path="/soap"/>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="Set Variable" doc:id="ffebb753-f202-49f8-9edc-6b91ca6f16d3" variableName="num1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="Set Variable" doc:id="ef46077b-3c0a-440e-af46-a7f5270a726c" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="33891567-50c6-435e-be2e-8b6162b4d916" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.num1 as Number,
		ns0#intB: vars.num2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="0d185b76-b60b-4eac-b4bc-17283191c272" config-ref="Web_Service_Consumer_Config" operation="Divide" />
		<ee:transform doc:name="Transform Message" doc:id="ba2bdf98-f43f-428b-aa81-e0e356842a1d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="193404bd-195d-49fc-8edc-2d6466124eb8" />
	</flow>
</mule>
